@model IEnumerable<products.Models.Product>

@{
    ViewData["Title"] = "ProductIndex";
}

<br />
<br />
<br />
<br />
<div style="display: flex; flex-direction: column; text-align: left;">
    <nav aria-label="breadcrumb" style="margin-left:7px;">
        <ol class="breadcrumb" style="padding: 12px 0; margin: 0;">
            <li class="breadcrumb-item" style="font-size: 14px;">
                <a href="/">商品目錄</a>
            </li>
        </ol>
    </nav>
</div>



<div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h1 style="font-size:25px; margin-bottom:10px; font-weight:600;">商品後台管理</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <form class="d-flex">
                    @using (Html.BeginForm())
                    {
                        <div style="display: flex; align-items: center;">
                            <div style="margin-right: 10px;">
                                @Html.TextBox("txtKeyword", null, new { placeholder = "輸入關鍵字", @class = "search-input form-control col-md-3", style = "width: 120px; margin-left: 5px; display: inline-block; border: 2px solid #EAE4DA; border-radius: 10px; color: #868283; font-size: 14px;" })
                                @Html.TextBox("minPrice", null, new { placeholder = "最低價", @class = "form-control col-md-1", style = "width: 120px; margin-left: 5px; display: inline-block; border: 2px solid #EAE4DA; border-radius: 10px; color: #868283; font-size: 14px;" })
                                <i style="color:#868283;"> ~ </i>
                                @Html.TextBox("maxPrice", null, new { placeholder = "最高價", @class = "form-control col-md-1", style = "width: 120px; margin-left: 5px; display: inline-block; border: 2px solid #EAE4DA; border-radius: 10px; color: #868283; font-size: 14px;" })
                                <button type="submit" class="btn btn-info" style="display: inline-block; color: white; opacity: 0.8; border-radius: 10px; margin-bottom: 4px; font-size: 14px; margin-left:5px;">查詢</button>
                            </div>
                        </div>
                    }
                    <!-- 下拉選單 vue -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <select class="form-select" v-model="selectedStatus" style="font-size:13px;">
                                <option value="">商品狀態</option>
                                <option value="all">所有商品</option>
                                <option value="上架中">上架中</option>
                                <option value="未上架">未上架</option>
                                <option value="缺貨中">缺貨中</option>
                                <option value="已停產">已停產</option>
                            </select>
                        </li>
                    </ul>

                    <button type="button" onclick="location.href='@Url.Action("Create")'" class="btn btn-success" style="color: white; opacity: 0.8; border-radius: 10px; font-size: 14px;">
                        新增商品
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <div class="dashboard-wrapper user-dashboard product-list">
        <div class="table-responsive-xxl">
            <table id="your-table-id" class="table table-hover">
                <thead class="responsive-table">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ProductImage)</th>
                        <th>@Html.DisplayNameFor(model => model.ProductName)</th>
                        <th>@Html.DisplayNameFor(model => model.Descript)</th>
                        <th>
                            <a href="javascript:void(0);" onclick="sortTable(3)">
                                售價
                                <i class="bi bi-caret-up-fill" style="display:none;"></i>
                                <i class="bi bi-caret-down-fill" style="display:inline-block;"></i>
                            </a>
                        </th>
                        <th>@Html.DisplayNameFor(model => model.ProductStatus)</th>
                        <th>@Html.DisplayNameFor(model => model.ProductStock)</th>
                        <th>@Html.DisplayNameFor(model => model.ReleaseDate)</th>
                        <th>@Html.DisplayNameFor(model => model.UpdatedDate)</th>
                        <th>@Html.DisplayNameFor(model => model.Type)</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><img src="~/imgs/@item.ProductImage" width="150" height="100" /></td>
                            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                            <td>
                                <div class="product-description">
                                    <div class="truncated-text">
                                        @{
                                            string truncatedDescript = string.Empty;
                                            if (item.Descript != null)
                                                truncatedDescript = item.Descript.Length > 5 ? item.Descript.Substring(0, 5) + "..." : item.Descript;
                                        }
                                        @truncatedDescript
                                    </div>

                                    <div class="full-text">@item.Descript</div>
                                </div>
                            </td>

                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                            <td>
                                @if (item.ProductStatus == "上架中")
                                {
                                    <span class="badge rounded-pill" style="background-color:#648eb1">@Html.DisplayFor(modelItem => item.ProductStatus)</span>
                                }
                                else if (item.ProductStatus == "缺貨中" || item.ProductStatus == "未上架")
                                {
                                    <span class="badge rounded-pill bg-danger">@Html.DisplayFor(modelItem => item.ProductStatus)</span>
                                }
                                else if (item.ProductStatus == "已停產")
                                {
                                    <span class="badge rounded-pill" style="background-color:#ff8552">@Html.DisplayFor(modelItem => item.ProductStatus)</span>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.ProductStatus)
                                }
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.ProductStock)</td>
                            <td>@Html.DisplayFor(modelItem => item.ReleaseDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.UpdatedDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.Type) </td>
                            <td>
                                <!-- 編輯 -->
                                <button type="button" class="btn btn-sm" style=" background-color:#fafafa;" onclick="location.href='@Url.Action("Edit", "Home", new { id = item.ProductId })'">
                                    <i class="fa-solid fa-pen-to-square" style="color: #35444a;"></i>
                                </button>
                                <!-- 預覽 -->
                                <button type="button" class="btn btn-sm" style=" background-color:#fafafa;" data-bs-toggle="modal" data-bs-target="#productDetailModal" data-product-id="@item.ProductId">
                                    <i class="fa-solid fa-magnifying-glass" style="color: #35444a;"></i>
                                </button>
                                <!-- 刪除 -->
                                <button type="button" class="btn btn-sm" style=" background-color:#fafafa;" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal-@item.ProductId">
                                    <i class="fa-solid fa-trash" style="color: #35444a;"></i>
                                </button>

                                <!-- 刪除商品跳出提示框 -->
                                <div class="modal fade" id="confirmDeleteModal-@item.ProductId" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">刪除商品</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p style="font-weight:500;">確定要刪除此商品嗎?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                                <button type="button" class="btn btn-danger" onclick="deleteProduct('@item.ProductId')">刪除</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <script>
                                    function deleteProduct(productId) {
                                        // 執行刪除商品的相關程式碼
                                        window.location.href = '@Url.Action("Delete", "Home")?id=' + productId;
                                    }
                                </script>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@*分頁功能*@
<nav aria-label="Page navigation example">
    <ul class="pagination pagination-sm justify-content-center">
        @if (ViewBag.pageNum == null || ViewBag.pageNum == 0)
        {
            <li class="page-item active" aria-current="page"><span class="page-link">1</span></li>
        }
        else
        {
            for (int i = 1; i <= ViewBag.pageNum; i++)
            {
                if (i == ViewBag.Page)
                {
                    <li class="page-item active" aria-current="page"><span class="page-link">@i</span></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="@Url.Action("ProductIndex", new { Page = i, KeyWord = ViewBag.Keyword })">@i</a></li>
                }
            }
        }
    </ul>
</nav>


@* jQuery滑鼠懸停事件*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.product-description').hover(
            function () {
                var fullDescription = $(this).data('description');
                $(this).text(fullDescription);
            },
            function () {
                var truncatedDescript = $(this).data('description');
                var truncatedText = truncatedDescript.length > 5 ? truncatedDescript.substring(0, 5) + "..." : truncatedDescript;
                $(this).text(truncatedText);
            }
        );
    });</script>


<!-- 商品預覽 HTML -->
<div class="modal fade" id="productDetailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="productDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productDetailModalLabel">商品詳情</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="productDetailContainer"></div>
            </div>
        </div>
    </div>
</div>


<!-- 商品預覽 JS -->
<script>
    $(function () {
        $('.btn').click(function () {
            var productId = $(this).data('product-id');

            $.ajax({
                url: '/Home/ProductDetail',
                type: 'GET',
                data: { id: productId },
                success: function (result) {
                    let html = '<div class="modal-body">';
                    html += '<div class="row">';
                    html += '<div class="col-md-6 col-sm-6 col-12">';
                    html += '<div class="modal-image">';
                    //商品圖
                    html += '<img class="img-fluid" src="/imgs/' + result.imageUrl + '" alt="product-img" style="max-width: 100%; height: auto; margin-top:15px;">';
                    html += '</div>';
                    html += '</div>';
                    html += '<div class="col-md-6 col-sm-6 col-12">';
                    html += '<div class="product-short-details">';
                    //名稱
                    html += '<h2 class="product-title" style="margin-bottom: 10px; font-weight:500;">' + result.productName + '</h2>';
                    //價格
                    html += '<p class="product-price" style="font-size: 25px; color: #9B0500; margin-bottom: 5px; ">$' + result.price + '</p>';
                    //庫存
                    html += '<p class="product-stock" style="font-size: 15px; color: #9B0500; margin-bottom: 5px;">庫存數量: ' + result.productStock + '</p>';
                    //描述
                    html += '<p class="product-short-description" style="font-size: 12px; margin-top: 5px;">' + result.description + '</p>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';

                    $('#productDetailContainer').html(html);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
</script>


@*價格排序*@
<script>
    var ascending = true;

    function sortTable(columnIndex) {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("your-table-id");
        switching = true;

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[columnIndex];
                y = rows[i + 1].getElementsByTagName("TD")[columnIndex];
                // 將內容轉換為數字進行比較
                var xValue = parseFloat(x.innerHTML.replace(/\$|,/g, ''));
                var yValue = parseFloat(y.innerHTML.replace(/\$|,/g, ''));

                if (ascending) {
                    if (xValue > yValue) {
                        shouldSwitch = true;
                        break;
                    }
                } else {
                    if (xValue < yValue) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
        ascending = !ascending;
        var upArrow = table.querySelector(".bi-caret-up-fill");
        var downArrow = table.querySelector(".bi-caret-down-fill");
        if (ascending) {
            upArrow.style.display = "none";
            downArrow.style.display = "inline-block";
        } else {
            upArrow.style.display = "inline-block";
            downArrow.style.display = "none";
        }
    }</script>



@*下拉選單判斷商品狀態：上下架、缺貨、停產*@
@section Scripts{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module">
        const { createApp, ref, watch } = Vue;

        const app = createApp({
            setup() {
                const selectedStatus = ref(""); // 初始化選擇的商品狀態

                // 更新 URL 中的查詢字符串參數的函式
                function updateQueryStringParameter(uri, key, value) {
                    const re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
                    const separator = uri.indexOf('?') !== -1 ? "&" : "?";

                    if (uri.match(re)) {
                        return uri.replace(re, '$1' + key + "=" + value + '$2');
                    } else {
                        return uri + separator + key + "=" + value;
                    }
                }

                // 監聽 selectedStatus 的變化
                watch(selectedStatus, (newValue, oldValue) => {
                    const currentUrl = window.location.href;

                    // 使用選擇的商品狀態更新 URL
                    const newUrl = updateQueryStringParameter(currentUrl, "productStatus", newValue);
                    window.location.href = newUrl;
                });

                return { selectedStatus };
            }
        });

        app.mount('#app'); // 掛載 Vue app 到 DOM</script>
}